/* colors by names */
:root {
    --Down-Grey: #808080;
    --Fast-Yellow:#FFD600;
    --Ice-White: #F4F5F7;
    --Light-Salmon: #E2CFC6;
    --Ocean-Deep: #050D17;
    --Ocean-Marine: #162D4F;
    --Slow-Blue: #101D32;
    --Sweet-Orange: #FF6D0A;
}

/* colors by functions: light theme*/
:root {
    --L-color-text: var(--Ocean-Marine);
    --L-color-highlight: var(--Sweet-Orange);
    --L-color-background: var(--Light-Salmon);
    --L-background-image: url('/public/background/light-theme-background.webp');
    --L-background-blend-mode: lighten;
}

/* colors by functions: light theme*/
:root {
    --D-color-text: var(--Ice-White);
    --D-color-highlight: var(--Sweet-Orange);
    --D-color-background: var(--Slow-Blue);
    --D-background-image: url('/public/background/dark-theme-background.jpg');
    --D-background-blend-mode: lighten;
}