:root {
    --color-background: #1B1C31;
    --color-primary: #FC34EF;
    --color-secondary: #11F5F1;
    --color-text: #FFFAFE;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: 'ubuntu mono', monospace;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-text {
    padding: 0 2.75em;
}

.custom-stroke {
    color: transparent;
    -webkit-text-stroke: 2px var(--color-primary);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.column-count {
    font-size: 1.25em
}

.column-count {
    column-count: 3;
    column-gap: 4em;
}